Host hbase
    HostName base.hpc.taltech.ee
    User katurv
    ForwardAgent yes

Host hbaser
    HostName base.hpc.taltech.ee
    User root
    ForwardAgent yes

# Vault
Host hv
    Hostname 10.10.103.10
    User root
    ForwardAgent yes
    ProxyJump base

# Vault Proxy
Host hvp
    Hostname 10.10.103.20
    User root
    ForwardAgent yes
    ProxyJump hbase

# GitLab Runner
Host hglr
    Hostname 10.10.101.11
    User root
    ForwardAgent yes
    ProxyJump hbase

# GitLab
Host hgl
    Hostname 10.10.101.10
    User root
    ForwardAgent yes
    ProxyJump hbase

# GitLab Runner PVE
Host hpglr
    Hostname 10.10.101.40
    User debian
    ForwardAgent yes
    ProxyJump hbase

# GitLab PVE
Host hpgl
    Hostname 10.10.101.41
    User rocky
    ForwardAgent yes
    ProxyJump hbase

# Proxmox VPN
Host hpvev
    User root
    Hostname 172.21.5.87
    ForwardAgent yes

# Proxmox
Host hpve
    User root
    Hostname 10.10.101.30
    ForwardAgent yes
    ProxyJump hbase

# CSL-HYP
Host hcsl
    User root
    Hostname 172.21.1.48
    ForwardAgent yes

Host jdns
    Hostname 192.168.10.53
    User jamfox
    ForwardAgent yes

# Blackbox
Host hbb
    Hostname 193.40.156.24
    ForwardAgent yes
    User centos
    ProxyJump hbase

# Backup
Host hbu
    HostName 10.10.101.4
    ProxyJump hbase
    User backup
    ForwardAgent yes

# Zabbix PVE
Host hpz
    HostName 10.10.100.250
    ProxyJump hbase
    User ubuntu
    ForwardAgent yes

# Bastion PVE
Host hpb
    HostName 10.10.101.99
    ProxyJump hbase
    User rocky
    ForwardAgent yes
