Host hbase
    HostName base.hpc.taltech.ee
    User katurv
    ForwardAgent yes

Host hbaser
    HostName base.hpc.taltech.ee
    User root
    ForwardAgent yes

Host hvault
    Hostname 10.10.103.10
    User root
    ForwardAgent yes
    ProxyJump base

Host hvaultproxy
    Hostname 10.10.103.20
    User root
    ForwardAgent yes
    ProxyJump hbase

Host hrunner
    Hostname 10.10.101.11
    User root
    ForwardAgent yes
    ProxyJump hbase

Host hgitlab
    Hostname 10.10.101.10
    User root
    ForwardAgent yes
    ProxyJump hbase

Host hpve
    User root
    Hostname 172.21.5.87
    ForwardAgent yes

Host csl
    Hostname 172.21.1.48
    ForwardAgent yes

Host jdns
    Hostname 192.168.10.53
    User jamfox
    ForwardAgent yes

