Host hbase
    HostName base.hpc.taltech.ee
    User katurv
    ForwardAgent yes

Host hbaser
    HostName base.hpc.taltech.ee
    User root
    ForwardAgent yes

Host ada1
    Hostname 10.10.101.10
    User ubuntu
    ForwardAgent yes
    ProxyJump hbase

Host ada2
    Hostname 10.10.101.11
    User ubuntu
    ForwardAgent yes
    ProxyJump hbase

Host alumae
    Hostname 10.10.101.12
    User ubuntu
    ForwardAgent yes
    ProxyJump hbase

Host hdns
    Hostname 10.10.101.3
    User root
    ForwardAgent yes
    ProxyJump hbase

# Vault PVE
Host hpv
    Hostname 10.10.101.45
    User karlt
    ForwardAgent yes
    ProxyJump hbase

# Vault1 PVE
Host hpv1
    Hostname 10.10.101.46
    User karlt
    ForwardAgent yes
    ProxyJump hbase

# Vault2 PVE
Host hpv2
    Hostname 10.10.101.47
    User karlt
    ForwardAgent yes
    ProxyJump hbase

# Vault Proxy PVE
Host hvp
    Hostname 10.10.101.49
    User karlt
    ForwardAgent yes
    ProxyJump hbase

# GitLab Runner
Host hglr
    Hostname 10.10.101.11
    User root
    ForwardAgent yes
    ProxyJump hbase

# GitLab
Host hgl
    Hostname 10.10.101.10
    User root
    ForwardAgent yes
    ProxyJump hbase

# GitLab Runner PVE
Host hpglr
    Hostname 10.10.101.40
    User karlt
    ForwardAgent yes
    ProxyJump hbase

# GitLab PVE
Host hpgl
    Hostname 10.10.101.41
    User karlt
    ForwardAgent yes
    ProxyJump hbase

# Proxmox 0
Host hpve
    User root
    Hostname 172.21.5.87
    ForwardAgent yes
    
# Proxmox 1
Host hpve1
    User root
    Hostname 172.21.5.201
    ForwardAgent yes

# Proxmox 2
Host hpve2
    User root
    Hostname 172.21.5.202
    ForwardAgent yes

Host jdns
    Hostname 192.168.10.53
    User jamfox
    ForwardAgent yes

# Blackbox
Host hbb
    Hostname 193.40.156.24
    ForwardAgent yes
    User centos
    ProxyJump hbase

# Backup
Host hbu
    HostName 10.10.101.4
    ProxyJump hbase
    User root
    ForwardAgent yes

# Zabbix PVE
Host hpz
    HostName 10.10.100.250
    ProxyJump hbase
    User karlt
    ForwardAgent yes

# Bastion PVE
Host hpb
    HostName 10.10.101.99
    ProxyJump hbase
    User karlt
    ForwardAgent yes

# Syslog PVE
Host hps
    HostName 10.10.101.51
    ProxyJump hbase
    User karlt
    ForwardAgent yes

# ICT-000-HPC-EX vanem
Host hsw1
    HostName 192.168.99.228
    User hpcuser
    PreferredAuthentications password
    HostKeyAlgorithms=+ssh-rsa
    PubkeyAcceptedKeyTypes=+ssh-rsa

# X870-32c ICT-000-HPC-EX2 uuem
Host hsw2
    HostName 192.168.99.218
    User hpcuser
    PreferredAuthentications password
    HostKeyAlgorithms=+ssh-rsa
    PubkeyAcceptedKeyTypes=+ssh-rsa

# X440
Host hsw3
    HostName 192.168.99.227
    User hpcuser
    PreferredAuthentications password
    HostKeyAlgorithms=+ssh-rsa
    PubkeyAcceptedKeyTypes=+ssh-rsa
